@model VilaStella.Web.Common.Classes.FilterOptions

<div style="margin-bottom: 5px;">
    <div class="container-fluid">
        @using (Html.BeginForm("Filter", "Reservations", FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.Filter, "Филтрирай по")
                @Html.EnumDropDownListFor(m => m.Filter, new { @class = "form-control filter-change" })
            </div>

            <div class="filter-elements" style="display: inline;">
                <span class="flter-name">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Name, "Име")
                        @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </span>

                <span class="flter-email">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Email)
                        @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </span>

                <span class="flter-phone">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Phone, "Телефон")
                        @Html.EditorFor(x => x.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </span>


                <span class="flter-from">
                    <div class="form-group">
                        @Html.LabelFor(x => x.From, "От")
                        @Html.EditorFor(x => x.From, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </span>

                <span class="flter-to">
                    <div class="form-group">
                        @Html.LabelFor(x => x.To, "До")
                        @Html.EditorFor(x => x.To, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </span>

                <span class="flter-status">
                    <div class="form-group">
                        @Html.LabelFor(x => x.StatusFilter, "Статус")
                        @Html.EnumDropDownListFor(m => m.StatusFilter, new { @class = "form-control" })
                    </div>
                </span>

                <span class="flter-date">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Date, "Дата")
                        @Html.EditorFor(x => x.Date, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </span>
            </div>

            <input type="submit" class="btn btn-primary" value="Филтрирай" />
        }
    </div>
</div>